/*CSS RESET*/
* {
    margin: 0;
}

* {
    padding: 0;
}

body {
    overflow-x: hidden;
}

/*CSS RESET END*/
/*header*/
header {
    height: 10vh;
    background-color: rgb(26, 34, 78);
    display: flex;
    width: 100%;
}

header h3 {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    padding: 0 100px;
}

header ul {
    display: flex;
    margin-top: 20px;
    position: absolute;
    right: 100px;


}

header ul li {
    list-style: none;

}

header li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding-left: 20px;
}

/*end of header*/

/*banner*/
.hero {
    height: 90vh;
    background-color: rgb(28, 188, 156);
    text-align: center;
}

.hero #banner {
    margin-top: 100px;
    width: 250px;
}

.hero {
    color: rgb(255, 255, 255);
}

.hero h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-top: 20px;
}


.hero-inner p {
    font-size: 20px;
}

.hero-inner #star {
    width: 20%;
}

header ul li a:hover {
    color: rgb(28, 188, 156);
}

/* end of banner*/


/*start of portfolio*/
#portfolio {
    height: 100vh;
    text-align: center;
    margin-top: 60px;

}

#portfolio img {
    width: 20%;
    margin-bottom: 50px;
}

#content {
    display: flex;
    width: 60%;
    height: 30vh;
    margin: 0 auto;
    margin-bottom: 8px;
}

#content #content-inner {
    width: calc(100/3);
    padding: 0 5px;
}

#content #content-inner img {
    width: 100%;
    border: 1px;
    border-radius: 10px;
}


/*end of portfolio*/

#about {
    height: 80vh !important;
    background-color: rgb(28, 188, 156);
    text-align: center;
    color: rgb(255, 255, 255);
}

#about h2 {
    font-size: 30px;
    padding-top: 100px;
}

#about #one {
    margin-top: 10px;
    width: 20%;
}

#about .text {

    display: flex;
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#about .text-inner {
    width: 50%;
    text-align: left;
    padding-left: 20px;
}

#about a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid white;
}

/*start of contact*/
#contact {
    height: 80vh;
    width: auto;
    text-align: center;
    margin-bottom: 10%;
}

#contact img {
    margin-top: 10px;
    width: 20%;
}

#contact #onee {
    margin-top: 20px;
    width: 20%;
}

#contact h2 {
    font-size: 30px;
    padding-top: 100px;
    color: rgb(26, 34, 78);
    text-align: center;
}

#contact form {
    width: 50%;
    margin: 0 auto;
}

#contact form input {
    width: 100%;
    padding: 25px 0;
    border: none;
    border-bottom: .2px solid rgb(219, 228, 228);
    font-size: 18px;
}


#contact>form>input>#msg {
    padding-bottom: 55px ! important;
}

#contact form button {
    background-color: rgb(28, 188, 156);
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    float: left;
    margin-top: 30px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

*:focus {
    outline: none;
}

/* END OF CONTACT*/
/* footer*/
#footer{
    height: 20vh;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(79, 81, 100);
    color: rgb(255, 255, 255);
    display: flex;

}
#footer-inner{
    text-align: center;
    margin-left: 140px;
    font-family: regular;
    display: flex;
    padding-left: 50px;


    
    
}

#footer h3{
    margin-left: 50px;
    margin-top: 10px;
    font-family:Bold;
    
    

}
#footer p {
    margin-left: 50px;
    margin-top: 10px;
    font-family: regular;
    font-size: 13px;
}

#footer-inner-1{
    text-align: center;
    margin-left: 140px;
    border: 5px;
    border-color: rgb(255, 255, 255);
    font-family: regular;
    padding-left: 70px;
}
#footer-inner-1 h3{
    padding-left: 10px;
    width: 90%;
    font-family: bold;

}



#footer-inner{
    margin-left: 60px;
}
#footer-inner-2 p {
    text-align: center;
    width: 260px;
    margin-top: 10px;
    margin-left: 70px;
    font-family: regular;
    font-size: 13px;
    span{
        color: rgb(28, 188, 156);
    }
}
#facebook{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    border-radius: 100%;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 100%;

}
#twitter{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 100%;
}
#linkedin{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 100%;
    

    
}
#global{
    width: 20px;
    height: 20px;
    border: 5px;
    border-radius: 100%;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 100%;
    


}
h4{
    padding-top: 13px;
    color:white;
    background-color: rgb(44, 47, 78);
    height: 5vh;
    font-size: 10px;
    text-align: center;
    font-family: regular;
    
}

#footer-inner-2 {
    margin-left: 60px;
}

/*end of footer*/

















/*NAV END*/